# api id and api hash (my.telegram.org)
# required
API_ID='7028372'
API_HASH='10bc5c7771a121c180ab8859ab438bb8'

# pyrogram session string (@genstr_robot)
# required
SESSION='BQBDEeJPzPIJXuRIonWuWy0zNvzTb3v9njEuJwD3h1o0AahiKOBmaRz9lTpO20YVzieDdzdwYseV1qQNghlswt1vHZFCXahk0_D7ezMAww3ytRAzizIpaRkFjLja0DA0LDNkkAdWl6GDzxLQ_RqcelX66T8m6FDOHuoOaLiBobYe_wO1XFa4NQJIcemHByMZc_xfvw12hMfPK5-sYBDViAWqdpnPDDsRjH3BaGUSOFqFI8uH4Meg5qhYpQtMZs1wOzoHXkPGcjreFzyj7pm87_xId_MRrTP4M71rMmBx2T6DCWpJlgWEThbyCzX5VHI5_0MlTX37rDzfhWjhkj-EegisQavGuwA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN='5481785936:AAGcFERm7PObeV2An6tO9wguCk7enVEHGus'

# sudo user ids (separate with space)
# optional
SUDOERS='1101776571'

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
